@*@model IEnumerable<MalMaalayak.Models.ClientDetailClassModel>*@

@using PagedList;
@using PagedList.Mvc; 

@model PagedList.IPagedList<MalMaalayak.Models.ClientDetailClassModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<body>

   

    <main role="main" class="probootstrap-main js-probootstrap-main col-lg-pull-1">

        @using (Html.BeginForm("CoupleDisplay", "Couple", FormMethod.Post))
        {

            <div class="probootstrap-bar">
                <a href="#" class="probootstrap-toggle js-probootstrap-toggle"><span class="oi oi-menu"></span></a>
                <div class="probootstrap-main-site-logo"><a href="index.html">Aside</a></div>
            </div>

            <div>

                @foreach (var coupleValue in Model)
                {

                    <div class="col-md-3">
                        <div class="card" style="width: 15rem;">

                            <div>
                                <img class="card-img-top" src="~/images/img_1.jpg" alt="Card image cap">
                            </div>
                            <div class="card-block ">
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text" style="line-height:10px">@coupleValue.StarName</p>
                                <p class="card-text" style="line-height:10px">@coupleValue.Job</p>
                                <p class="card-text" style="line-height:10px">@coupleValue.GenderType</p>
                                <p class="card-text" style="line-height:10px">@coupleValue.CastName</p>
                               
                                <a href="@Url.Action("GetMoreDetails", "Couple")" class="btn btn-primary">More Detail</a>
                            </div>
                        </div>
                    </div>


                }
            </div>
            <div id='Paging' style="text-align:center">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                of @Model.PageCount
                <div class="pagination justify-content-center">
                    @Html.PagedListPager(Model, page => Url.Action("GetCouple", new { page }))
                </div>
             
            </div>
        }


    </main>

    <script type="text/javascript">
        function PagerClick(index) {
            document.getElementById("hfCurrentPageIndex").value = index;
            document.forms[0].submit();
        }
    </script>

</body>
</html>