@*@model MalMaalayak.Models.ClientDetailClassModel*@

@using PagedList;
@using PagedList.Mvc;

@model PagedList.IPagedList<MalMaalayak.Models.ClientDetailClassModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<body style="background-color:yellow;">

    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        //if (Model.Id != null)
        //{
            @*@Html.HiddenFor(model => model.Id)
       
        @Html.AntiForgeryToken()*@ 

        <div class="row">
            @foreach (var cd in Model)
            {

                <div class="col-md-3">
                    <div class="card" style="background-color:lightblue; margin-bottom:5px;margin-right:5px; ">
                        @if (cd.GenderType == MalMaalayak.Constants.ConstantDetail.Gender.Male)
                        {
                            <div>
                                <img class="card-img-top" src="~/images/boy.jpg" alt="Card image cap">
                            </div>
                        }
                        else
                        {
                            <div>
                                <img class="card-img-top" src="~/images/girl.jpg" alt="Card image cap">
                            </div>}



                        <div class="card-block ">
                            <h4 class="card-title"></h4>
                            <p class="card-text" style="line-height:10px">@cd.GenderType</p>
                            <p class="card-text" style="line-height:10px">@cd.Lagna</p>
                            <p class="card-text" style="line-height:10px">@cd.StarName</p>
                            <p class="card-text" style="line-height:10px">@cd.Job</p>
                            <div class="card-footer">
                                <a href="@Url.Action("GetMoreDetails", "Couple", new { id = cd.Id})")" class="btn btn-primary">More</a>
                            </div>
                        </div>
                    </div>
                </div>

            }


        </div>


        <div id='Paging' style="text-align:center">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
            of @Model.PageCount
            <div class="pagination justify-content-center">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>

        </div>

    }
</body>
</html>